
@font-face {
  font-family: 'bluu';
  src: url('fonts/bluu/bluunext-bold-webfont.woff2') format('woff2'),
       url('fonts/bluu/bluunext-bold-webfont.woff') format('woff'),
       url('fonts/bluu/bluunext-bold.ttf') format('truetype'),
       url('fonts/bluu/bluunext-bold-webfont.svg#bluu_nextbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bluu';
  src: url('fonts/bluu/bluunext-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/bluu/bluunext-bolditalic-webfont.woff') format('woff'),
       url('fonts/bluu/bluunext-bolditalic.ttf') format('truetype'),
       url('fonts/bluu/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family:"NoeText-Black";
  src:url("fonts/noe/NoeText-Black.woff2") format("woff2"),url("fonts/noe/NoeText-Black.woff") format("woff"),url("fonts/noe/NoeText-Black.otf") format("opentype");
  font-style:normal;font-weight:400;
}


@font-face {
  font-family:"NoeText-Bold";
  src:url("fonts/noe/NoeText-Bold.woff2") format("woff2"),url("fonts/noe/NoeText-Bold.woff") format("woff"),url("fonts/noe/NoeText-Bold.otf") format("opentype");
  font-style:normal;font-weight:400;
}


@font-face {
  font-family:"NoeText-BlackItalic";
  src:url("fonts/noe/NoeText-BlackItalic.woff2") format("woff2"),url("fonts/noe/NoeText-BlackItalic.woff") format("woff"),url("fonts/noe/NoeText-BlackItalic.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"NoeText-BoldItalic";
  src:url("fonts/noe/NoeText-BoldItalic.woff2") format("woff2"),url("fonts/noe/NoeText-BoldItalic.woff") format("woff"),url("fonts/noe/NoeText-BoldItalic.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"NoeText-Book";
  src:url("fonts/noe/NoeText-Book.woff2") format("woff2"),url("fonts/noe/NoeText-Book.woff") format("woff"),url("fonts/noe/NoeText-Book.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"NoeText-BookItalic";
  src:url("fonts/noe/NoeText-BookItalic.woff2") format("woff2"),url("fonts/noe/NoeText-BookItalic.woff") format("woff"),url("fonts/noe/NoeText-BookItalic.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"NoeText";
  src:url("fonts/noe/NoeText.woff2") format("woff2"),url("fonts/noe/NoeText.woff") format("woff"),url("fonts/noe/NoeText.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"Graphik";
  src:url("fonts/graphik/Graphik.woff2") format("woff2"),url("fonts/graphik/Graphik.woff") format("woff"),url("fonts/graphik/Graphik.otf") format("opentype");
  font-style:normal;font-weight:400;
}
@font-face {
  font-family:"Graphik-Bold";
  src:url("fonts/graphik/Graphik-Bold.woff2") format("woff2"),url("fonts/graphik/Graphik-Bold.woff") format("woff"),url("fonts/graphik/Graphik-Bold.otf") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"Graphik-BoldItalic";
  src:url("fonts/graphik/Graphik-BoldItalic.woff2") format("woff2"),url("fonts/graphik/Graphik-BoldItalic.woff") format("woff"),url("fonts/graphik/Graphik-BoldItalic.otf") format("opentype");
  font-style:normal;font-weight:400;
}

body {
  /* Before the wildfire: */
  font-family: NoeText;
  font-size: 20px;
  color: #222222;
  line-height: 40px;
}

.hed {
  /* Parametric: */
  font-family: bluu;
  font-size: 124px;
  width: 900px;
}

.hed .press {
  /* Press: */
  font-family: bluu;
  font-style: italic;
}

.dek {
  /* Call for Proposals: */
  font-family: Graphik-Bold;
  font-size: 20px;
}

.dek .date {
  /* Fall/Winter 2018: */
  font-family: BluuNext-BoldItalic;
  font-size: 22px;
  color: #222222;
}

h2, h3 {
  font-size: 20px;
  font-family: Graphik-Bold;
  text-decoration: none;
  border-bottom: none;
}
/*
input[type="range"]{
  -webkit-appearance:none;
  width:160px;
  height:20px;
  margin:10px 50px;
  background: linear-gradient(to right, #000 0%, #000 100%);
  background-size:150px 5px;
  background-position:center;
  background-repeat:no-repeat;
  overflow:hidden;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:7px;
  height:20px;
  background:#000;
  position:relative;
  z-index:3;
  box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

input[type="range"]::-webkit-slider-thumb:after{
  content:" ";
  width:100px;
  height:5px;
  position:absolute;
  z-index:1;
  right:20px;
  top:5px;
  background: #000;
  background: linear-gradient(to right, #000 1%, #000 70%);
} */

.idyll-text-container {
  max-width: 800px;
}

.sliderContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 50px;
  top: 50px;
  /* border: solid 1px black; */
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  color: black;
  font-family: Graphik;
  /* opacity: 0.15; */
  /* transition: opacity 0.5s; */
}

.sliderContainer img {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  width: 155px;
  background: none;
}


.sliderContainer .button {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  /* background: #222222; */
  border-bottom: solid 2px #222222;
  /* color: #ffffff; */
  margin: 0 auto;
}

.sliderContainer input {
  width: 75%;
  margin: 0 auto;
}


/* .sliderContainer:hover {
  opacity: 1;
} */
.sliderContainer p {
  margin: 0;
  margin-left: 10px;
  font-size: 12px;
  line-height: 18px;
}

.stackedList {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.stackedList ul {
  flex-grow: 1;
  width: 50%;
}

.controls {
  cursor: pointer;
}


ul {
  padding-left: 0;
}
li{
  list-style: none;
  padding-left: 1em;
}
li:before{
  content: '';
  display: inline-block;
  height: 11px;
  width: 40px;
  background-image: url('images/arrow2x.png');
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  text-decoration: underline;
  color: #222222;
}
@media all and (max-width: 1000px) {


  body {
    font-size: 14px;
    line-height: 28px;
  }

  .idyll-root {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }

  .hed {
    font-size: 48px;
    width: 100%;
  }

  .dek {
    /* Call for Proposals: */
    font-family: Graphik-Bold;
    font-size: 20px;
  }

  .stackedList {
    display: flex;
    flex-direction: column;
  }
  .stackedList ul {
    flex-grow: 1;
    width: 100%;
  }


  .sliderContainer {
    display: none;
  }
}